<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
    <property resource="config/application-log.yml"/>

    <property name="SLACK_WEBHOOK_URI" value="${logging.slack.webhookUri}"/>
    <property name="TAGGLE_LOGS_PATH" value="./logs"/>

    <!-- SLACK -->
    <appender name="SLACK" class="com.github.maricn.logback.SlackAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
        </layout>
        <webhookUri>${SLACK_WEBHOOK_URI}</webhookUri>
        <username>taggle bot</username>
        <colorCoding>true</colorCoding>
    </appender>

    <appender name="ASYNC_SLACK" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- FILE -->
    <timestamp key="dailyLog" datePattern="yyyyMMdd"/>

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${TAGGLE_LOGS_PATH}/logback/taggle_logbacks_${dailyLog}.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${TAGGLE_LOGS_PATH}/logback/taggle_logbacks.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="error">
        <appender-ref ref="ROLLING"/>
        <appender-ref ref="ASYNC_SLACK"/>
    </root>

</configuration>
